<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

<input type="text" name="idval" id="idinput" placeholder="enter a cupcake ID">
 <button id="cupcakebutton" onclick="getcupcakes()" type="submit">Submit</button>

<h1 id="returned">will go here</h1>

<h1>Add a new cupcake:</h1>

<input type="text" name="flavor" placeholder="flavor" id="flavor">
<input type="text" name="size" placeholder="size" id="size">
<input type="text" name="rating" placeholder="rating" id="rating">
<input type="text" name="image" placeholder="image url" id="image">
<button id="createcupcakes" onclick="createCupcake()">Create!</button>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="/static/app.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
 
</body>
</html>